### Machine Learning (Linear Regression) Quiz
### Stage B of Hamoye Data Science Internship
#### Using the Energy Dataset
###### <i>Intern: Okolo Christian</i>
<hr style="width:100%; height:1px; background: #000">

##### Importing Important Libraries

In [1]:
import numpy as np    # For linear algebra
import pandas as pd   # For data processing

# Import plotting library
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.rc('figure',figsize=(10,6))  # Container of width=10 and height=6 to hold our plots

# extending the number of viewable columns
pd.options.display.max_columns = 30

#### Load the dataset

In [2]:
energy_df = pd.read_csv('energydata_complete.csv')

In [3]:
print('The dataset contains {} rows and {} columns'.format(energy_df.shape[0],energy_df.shape[1]))

The dataset contains 19735 rows and 29 columns

In [4]:
# Let's view the first 3 rows
energy_df.head(3)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.2,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.2,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.2,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [5]:
# Drop the light and date features
energy_df.drop(['lights','date'], axis=1,inplace=True)

In [6]:
# Import all the required sklearn libraries
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [7]:
# instantiate the scaler
scaler = MinMaxScaler()

# normalizing the features
normalized_features = pd.DataFrame(scaler.fit_transform(energy_df), columns=energy_df.columns)

# splitting data into features(independent) and target(dependent) variables
# predictors
features = normalized_features.drop(['Appliances'], axis=1)
# target variable
target = normalized_features['Appliances']

# splitting data into training and testing set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)

### Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius <br>
(x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [8]:
# Assign the required features to variables
X = energy_df[['T2']]
y = energy_df[['T6']]

# Get the linear model
linear_reg_simple = LinearRegression()

# fit the model to the training dataset
linear_reg_simple.fit(X,y)

# make predictions
predicted_values = linear_reg_simple.predict(X)

# R^2 Value
r2_score_simple  = r2_score(y,predicted_values)

# Print result
round(r2_score_simple,2)

0.64

#### Multivariate Linear Regression

In [9]:
# Get the linear model
linear_reg_multi = LinearRegression()

# fit the model to the training dataset
linear_reg_multi.fit(X_train,y_train)

# Make predictions
predicted_values = linear_reg_multi.predict(X_test)

### Question 13
What is the Mean Absolute Error (in two decimal places)?

In [10]:
# MAE
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

### Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [11]:
# RSS
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

### Question 15
What is the Root Mean Squares Error (in three decimal places)?

In [12]:
# RMSE
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

### Question 16
What is the Coefficient of Determination (in two decimal places)?

In [13]:
# R^2 Score
r2_score_multi = r2_score(y_test, predicted_values)
round(r2_score_multi, 2)

0.15

### Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [14]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

# Call the function and pass the necessary parameters
linear_model_weights = get_weights_df(linear_reg_multi, X_train, 'Linear_Model_Weight')

# Print the results
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

### Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [15]:
# Define the Ridge model and call its fit method
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

# Make predictions
ridge_predicted_values = ridge_reg.predict(X_test)

# RMSE
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_predicted_values))
round(ridge_rmse, 3)

0.088

### Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [16]:
# Define the Lasso model and call its fit method
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

# Call the get_weights_df function and pass the appropriate parameters
lasso_model_weights = get_weights_df(lasso_reg, X_train, 'Lasso_Model_Weight')

# Get the features where Lasso_Model_Weight is not equal to zero
lasso_model_weights[lasso_model_weights.Lasso_Model_Weight != 0]

     Features  Lasso_Model_Weight
0      RH_out           -0.049557
1        RH_8           -0.000110
24  Windspeed            0.002912
25       RH_1            0.017880

### Question 20
What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [17]:
# Make predictions
lasso_predicted_values = lasso_reg.predict(X_test)

# RMSE
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted_values))
round(lasso_rmse, 3)

0.094