## Exploratory Data Analysis on Fuel Dataset
### Stage A of Hamoye Data Science Internship
#### Fuel Quality Data Analysis Quiz
###### <i>Intern: Okolo Christian</i>
<hr style="width:100%; height:1px; background: #000">

##### Importing Important Libraries

In [114]:
import numpy as np    # For linear algebra
import pandas as pd   # For data processing

# Import plotting library
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.rc('figure',figsize=(10,6))  # Container of width=10 and height=6 to hold our plots

#### Load the dataset

In [115]:
fuel_df = pd.read_csv('hamoye_fuel_data.csv')

In [116]:
print('The dataset contains {} rows and {} columns'.format(fuel_df.shape[0],fuel_df.shape[1]))

The dataset contains 29523 rows and 11 columns

In [117]:
fuel_df.head(3)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650

<hr style="width:100%; height:1px; background: #000">

### Question 1: Merging two lists

In [118]:
A = [1,2,3,4,5,6]
B = [13,21,34]
A_B = A.extend(B)

<hr style="width:100%; height:1px; background: #000">

### Question 2: Identity matrix

In [119]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

<hr style="width:100%; height:1px; background: #000">

### Question 3: Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [120]:
fuel_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().nlargest(6)

fuel_type_code_pudl
nuclear    4955.157002
oil         168.877086
coal         67.421830
waste        19.518122
other        18.253856
gas          13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

<hr style="width:100%; height:1px; background: #000">

### Question 4: What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places

In [121]:
# Using the describe method to summarize the series
fuel_df.fuel_mmbtu_per_unit.describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

<hr style="width:100%; height:1px; background: #000">

### Question 5: What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [122]:
skew_fuel_qty = fuel_df.fuel_qty_burned.skew().round(2)
kurt_fuel_qty = fuel_df.fuel_qty_burned.kurt().round(2)
print("Skewness and Kurtosis for the fuel quantity burned are {} and {} respectively"
      .format(skew_fuel_qty,kurt_fuel_qty))
print()

Skewness and Kurtosis for the fuel quantity burned are 15.85 and 651.37 respectively

<hr style="width:100%; height:1px; background: #000">

### Question 6: Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [123]:
# Print all the columns with missing data and the number of data missing in each
fuel_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [124]:
# Percentage of missing value in fuel unit
#percent_missing = fuel_df.fuel_unit.isnull().sum() * 100 / len(fuel_df)
#print(percent_missing)

percent_missing = fuel_df.fuel_unit.isna().sum()/fuel_df.fuel_unit.count()
round(percent_missing*100,3)

0.613

<hr style="width:100%; height:1px; background: #000">

### Question 7: The feature with missing values falls under what category? What missing value imputation technique would you use?

In [125]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

<hr style="width:100%; height:1px; background: #000">

### Question 8: Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [126]:
fuel_df.corr().sort_values(by='fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

<hr style="width:100%; height:1px; background: #000">

### Question 9: For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [127]:
fuel_df[fuel_df.fuel_type_code_pudl == 'coal'].groupby('report_year')['fuel_cost_per_unit_burned'].mean()

report_year
1994     31.546467
1995     30.677442
1996     29.454299
1997    104.897309
1998     27.616234
1999     38.361101
2000    249.203055
2001     41.622623
2002     27.623988
2003     94.085441
2004     29.913239
2005     34.281426
2006     37.928697
2007     39.288397
2008     44.507292
2009    142.805197
2010    280.467547
2011     52.634721
2012     53.657789
2013     55.093312
2014     52.244736
2015     49.769534
2016     46.447385
2017     45.983336
2018     44.967758
Name: fuel_cost_per_unit_burned, dtype: float64

<hr style="width:100%; height:1px; background: #000">

### Question 10: Which year has the highest average fuel cost per unit delivered?

In [129]:
fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().nlargest(1)

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64